channels==4.1.0
  - asgiref [required: >=3.6.0,<4, installed: 3.8.1]
  - Django [required: >=4.2, installed: 5.0.4]
    - asgiref [required: >=3.7.0,<4, installed: 3.8.1]
    - sqlparse [required: >=0.3.1, installed: 0.5.0]
    - tzdata [required: Any, installed: 2024.1]
pipdeptree==2.18.1
  - packaging [required: >=23.1, installed: 24.0]
  - pip [required: >=23.1.2, installed: 24.0]
PySocks==1.7.1
selenium==4.19.0
  - certifi [required: >=2021.10.8, installed: 2024.2.2]
  - trio [required: ~=0.17, installed: 0.25.0]
    - attrs [required: >=23.2.0, installed: 23.2.0]
    - cffi [required: >=1.14, installed: 1.16.0]
      - pycparser [required: Any, installed: 2.22]
    - idna [required: Any, installed: 3.7]
    - outcome [required: Any, installed: 1.3.0.post0]
      - attrs [required: >=19.2.0, installed: 23.2.0]
    - sniffio [required: >=1.3.0, installed: 1.3.1]
    - sortedcontainers [required: Any, installed: 2.4.0]
  - trio-websocket [required: ~=0.9, installed: 0.11.1]
    - trio [required: >=0.11, installed: 0.25.0]
      - attrs [required: >=23.2.0, installed: 23.2.0]
      - cffi [required: >=1.14, installed: 1.16.0]
        - pycparser [required: Any, installed: 2.22]
      - idna [required: Any, installed: 3.7]
      - outcome [required: Any, installed: 1.3.0.post0]
        - attrs [required: >=19.2.0, installed: 23.2.0]
      - sniffio [required: >=1.3.0, installed: 1.3.1]
      - sortedcontainers [required: Any, installed: 2.4.0]
    - wsproto [required: >=0.14, installed: 1.2.0]
      - h11 [required: >=0.9.0,<1, installed: 0.14.0]
  - typing_extensions [required: >=4.9.0, installed: 4.11.0]
  - urllib3 [required: >=1.26,<3, installed: 2.2.1]
setuptools==65.5.0
webdriver-manager==4.0.1
  - packaging [required: Any, installed: 24.0]
  - python-dotenv [required: Any, installed: 1.0.1]
  - requests [required: Any, installed: 2.31.0]
    - certifi [required: >=2017.4.17, installed: 2024.2.2]
    - charset-normalizer [required: >=2,<4, installed: 3.3.2]
    - idna [required: >=2.5,<4, installed: 3.7]
    - urllib3 [required: >=1.21.1,<3, installed: 2.2.1]
